$white: #fff
$primary-color: #007FFF
$primary-color--darker: #1e59f1
$secondary-color: #56A6F0
$background-main-color: #222226
$background-secondary-color: #333437
$text-main-color: #f4f6f9
$text-main-color--darker: #A1A1AA
$scrollbar-main-color: #A1A1AA
$success-color: #568203
$error-color: #c92432
$input-border-color: #ddd