// Цвета
$white: #fff
$primary-color: #275efe
$primary-color--darker: #184fee
$secondary-color: #333437
$background-main-color: #222226
$background-secondary-color: #333437
$text-main-color: #f4f6f9
$text-secondary-color: #c4c4c9
$scrollbar-main-color: rgba(255, 255, 255, 0.1)
$success-color: #568203
$error-color: #c92432
$input-border-color: #ddd
$modal-background: #1b2735
$modal-background--darker: #151f2a
$note-menu-background: #18232f
$note-menu-background--darker: #151f2a
$tooltip-background: #18232f
$box-shadow-primary: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px
$box-shadow-secondary: 0 0 3px rgba(39, 94, 254, 0.8), 0 0 10px rgba(39, 94, 254, 0.8)

// Брейкпоинты
$xs: 320px
$sm: 576px
$md: 768px
$lg: 992px
$xl: 1240px
$xxl: 1650px