#settings-button {
    font-size: 0;
    width: 42px;
    height: 42px;
    box-sizing: border-box;
    border-radius: 100%;
    padding: 14px 10px;
    position: relative;
    cursor: pointer;
    background: #56A6F0;
    z-index: 10;
}
#settings-wrapper.show #settings-button .one {
    transform: translate3d(4px, 1px, 0) rotate(45deg);
    width: 18px;
}
#settings-wrapper.show #settings-button .three {
    transform: translate3d(5px, -1px, 0) rotate(-45deg);
    width: 18px;
}
#settings-wrapper.show #settings-button .two {
    width: 0;
    display: none;
}
#settings-wrapper.show #settings-button .slider:before {
    width: 0;
    height: 0;
}
.slider {
    width: 22px;
    border-radius: 4px;
    height: 2px;
    background: #fff;
    position: absolute;
    transform-origin: 2px 2px;
    transition: all 500ms cubic-bezier(0, 1, 0, 1);
}
.slider:before {
    width: 6px;
    height: 6px;
    margin-top: -2px;
    margin-left: -3px;
    border-radius: 999px;
    background: #fff;
    display: inline-block;
    content: ' ';
    position: absolute;
    left: 70%;
    transition: left 140ms cubic-bezier(0, 2, 1, 1);
}
#settings-button:hover .slider:before {
    left: 30%;
}
.slider.two {
    margin-top: 6px;
}
.slider.two:before {
    left: 30%;
    transition-delay: 55ms;
}
#settings-button:hover .slider.two:before {
    left: 70%;
}
.slider.three {
    margin-top: 12px;
}
.slider.three:before {
    left: 70%;
    transition-delay: 110ms;
}
#settings-button:hover .slider.three:before {
    left: 30%;
}

#settings-wrapper {
    position: relative;
}

#settings-panel {
    height: 42px;
    width: 42px;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    display: flex;
    transition: all 0.5s;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: #56A6F0;
}

#settings-wrapper.show #settings-panel {
    height: 200px;
    width: 150px;
    border-radius: 25px;
}

#settings-panel #popup-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: all .5s;
    position: absolute;
    right: 0;
}

#settings-panel #popup-content img {
    width: 80px;
    height: 80px;
}

#settings-panel #popup-content span {
    color: #fff;
}

#settings-panel #popup-content button {
    background: #fff;
    color: #56A6F0;
}
