<div id="{{id}}">
	<div id="settings-button">
		<div class="slider one"></div>
		<div class="slider two"></div>
		<div class="slider three"></div>
	</div>
	<div id="settings-panel">
		<div class="background"></div>
		<div id="popup-content">

		</div>
	</div>
</div>
