header {
    width: 100%;
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background: rgba(0,0,0,0);
    transition: 0.5s;
}

header.black {
    background: rgba(0,0,0,0.2);
}

header.black .logo-container a {
    color: #fff;
}

header .logo-container a{
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: 0.5s;
}

header .right-container {
    display: flex;
    align-items: center;
    gap: 25px;
}

header .menu-container {
    display: flex;
    gap: 20px;
}

header .menu-container .menu-item a {
    text-decoration: none;
}

header .right-container .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}