header {
    width: 100%;
    padding: 0 15%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    transition: 0.5s;
    z-index: 1000;
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0));
}

header.black {
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0));
}

header .right-container {
    display: flex;
    align-items: center;
}

header .menu-container {
    display: flex;
    gap: 20px;
}

header .menu-container .menu-item a {
    text-decoration: none;
}