@import "/public/src/utils/variables.sass"

.input-wrapper
	width: 100%

	.input-container
		position: relative
		z-index: 1
		background: transparent

		&.has-icon
			input
				padding-left: 40px
			.label
				left: 40px

		input
			width: 100%
			padding: 12px
			outline: none
			transition: 0.3s
			background: transparent
			color: $text-main-color
			z-index: 1111
			border: none
			border-bottom: 2px solid rgba(255, 255, 255, 0.7)

			&::placeholder
				color: rgba(255, 255, 255, 0.8)

			&:focus
				+ .label
					transform: translate(0, -24px)
					font-size: 12px

			&:not(:placeholder-shown)
				&:not(:focus)
					+ .label
						transform: translate(0, -24px)
						font-size: 12px

		&.success
			.underline
				background: $success-color

				&:before
					transform: scaleX(0)

		&.error
			.underline
				background: $error-color

				&:before
					transform: scaleX(0)

		.label
			position: absolute
			font-size: 16px
			color: #fff
			left: 10px
			transition: 0.3s ease
			top: 14px
			z-index: -1

		&:not(.success,.error)
			input:focus
				~ .underline
					&:before
						transform: scaleX(1)

		.underline
			position: absolute
			bottom: 0
			height: 2px
			width: 100%
			background: transparent
			z-index: 1000
			transition: 0.3s ease

			&:before
				content: ""
				position: absolute
				height: 100%
				width: 100%
				background: $primary-color
				transform: scaleX(0)
				transition: transform 0.3s ease
				z-index: -1

		.icon
			position: absolute
			top: 16px
			left: 8px
			width: 16px
			height: 16px
			filter: invert(85%)

		input
			&[type=password]
				padding-right: 50px

				~ .password-toggle-btn-container
					.show-btn
						opacity: 1
						transform: scale(1)

					.hide-btn
						opacity: 0
						transform: scale(0)

			&[type=text]
				~ .password-toggle-btn-container
					.show-btn
						opacity: 0
						transform: scale(0)

					.hide-btn
						opacity: 1
						transform: scale(1)
						
		.password-toggle-btn
			position: absolute
			width: 24px
			height: 24px
			top: 12px
			right: 16px
			cursor: pointer
			filter: invert(85%)
			transition: 0.5s ease

			&:hover
				filter: invert(75%)

	.errors-container
		height: 45px
		color: $error-color
		font-size: 12px
		padding: 0 10px