<div class="input-container" id="input-{{id}}">
    <input type="{{type}}" placeholder="{{placeholder}}">

	<div class="errors-container">

	</div>

    {{#if isPassword}}
	    <img class="show-btn" src="/src/assets/eye-slash.svg">
	    <img class="hide-btn" src="/src/assets/eye.svg">
    {{/if}}
</div>
