.input-container {
    width: 100%;
    position: relative;
}

.input-container input {
    display: block;
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    outline: none;
    border-radius: 99px;
    transition: 0.3s;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
}

.input-container input::placeholder {
    color: rgba(255, 255, 255, 0.8)
}

.input-container input:focus {
    border: 1px solid #007FFF;
}

.input-container.success input {
    border: 1px solid green;
}

.input-container.error input {
    border: 1px solid #c92432;
}

.input-container .errors-container {
    height: 40px;
    color: #c92432;
    font-size: 13px;
    padding: 0 10px;
}

.input-container .show-btn, .hide-btn{
    position: absolute;
    width: 24px;
    height: 24px;
    top: 12px;
    right: 16px;
    cursor: pointer;
    filter: invert(85%);
    transition: 0.5s ease;
}

.input-container input[type="password"] ~ .show-btn {
    opacity: 1;
    transform: scale(1);
}

.input-container input[type="password"] ~ .hide-btn {
    opacity: 0;
    transform: scale(0);
}

.input-container input[type="text"] ~ .show-btn {
    opacity: 0;
    transform: scale(0);
}

.input-container input[type="text"] ~ .hide-btn {
    opacity: 1;
    transform: scale(1);
}

.input-container .form-label {
    position: absolute;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    left: 0.75rem;
    top: 0.75rem;
    padding: 0 0.35rem;
    color: #7C7E83;
    background: #fff;
    transition: all 0.35s ease;
}