<div class="input-container icon" id="input-{{id}}">

	<img class="icon" src="{{icon}}" />

    <input type="{{type}}" placeholder="{{placeholder}}">

	<div class="errors-container">

	</div>

    {{#if isPassword}}
	    <img class="password-toggle-btn show-btn" src="/src/assets/eye-slash.svg">
	    <img class="password-toggle-btn hide-btn" src="/src/assets/eye.svg">
    {{/if}}
</div>
