<div class="toast {{type}}" id="{{id}}">
	<div class="toast-content">
		<img src="{{icon}}" alt="" class="check">
		<div class="content">
			<span class="title">Success</span>
			<span class="message">You changes has been saved</span>
		</div>
	</div>
	<img src="./src/assets/close.svg" alt="" class="close">
	<div class="progress"></div>
</div>