<div id="{{id}}">
	<div class="glassmorphism-container">
		<div class="auth-container">
			<div class="form-container sign-in">

			</div>
			<div class="form-container sign-up">

			</div>
			<div class="toggle-container">
				<div class="toggle">
					<div class="toggle-panel toggle-left">
						<h2>Уже есть аккаунт?</h2>
					</div>
					<div class="toggle-panel toggle-right">
						<h2>Ещё нет аккаунта?</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>