.search {
    width: calc(100% - 30px);
    display: flex;
    align-items: center;
    padding: 12px 16px;
    border-radius: 28px;
    background: #333437;
}

.search-input {
    font-size: 16px;
    color: #f4f6f9;
    outline: none;
    border: none;
    background: transparent;
    flex: 1;
}

.search-input::placeholder {
    color: #f4f6f9;
}