@import "/public/src/utils/variables.sass"
@import "/public/src/utils/animations.sass"

.note-editor-wrapper
	border-radius: 15px
	background: rgba(27, 39, 53, 0.3)
	display: none
	flex-direction: column
	width: 100%
	flex-basis: 100%
	position: relative
	overflow: hidden
	padding-bottom: 50px

	@media screen and (max-width: $lg)
		display: flex
		background: rgba(27, 39, 53, 1)
		position: fixed
		transform: translateX(100%)
		height: 100vh
		padding: 75px 50px
		transition: 0.3s ease-in-out
		z-index: 1
		border-radius: 0

	@media screen and (max-width: $md)
		padding: 75px 25px

	@media screen and (max-width: $sm)
		padding: 50px 15px

	&.active
		display: flex

		@media screen and (max-width: $lg)
			animation: none
			transform: translateX(0%)

		.close-editor-btn
			display: block

	&.fullscreen
		position: absolute
		width: 100vw
		height: 100vh
		z-index: 10
		background: rgba(27, 39, 53, 1)
		border-radius: 0
		padding: 55px 10% 80px

		@media screen and (max-width: $lg)
			padding: 55px 5% 80px

		@media screen and (max-width: $sm)
			padding: 55px 15px 80px

		.top-panel
			background: none !important
			padding: 15px 0

		.bottom-panel
			padding: 10px 0 50px

		.note-background
			height: 120px
			display: block

	.note-background
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 140px
		z-index: 0
		display: none

		@media screen and (max-width: $lg)
			display: block

		@media screen and (max-width: $sm)
			height: 120px

	.top-panel
		display: flex
		justify-content: flex-end
		align-items: center
		position: relative
		gap: 6px
		width: 100%
		padding: 15px 25px
		min-height: 74px

		.hidden
			display: none

		@media screen and (max-width: $lg)
			padding: 15px 0
			background: none !important

		.tag-list-wrapper
			@media screen and (max-width: $xl)
				display: none

		.emoji-picker-wrapper
			@media screen and (max-width: $xl)
				display: none

		.background-picker-wrapper
			@media screen and (max-width: $xl)
				display: none

		.share-panel-wrapper
			@media screen and (max-width: $xl)
				display: none

		.empty
			flex: 1

		.note-menu
			order: 2

			@media screen and (max-width: $lg)
				order: 2

		.collaborators-container
			@media screen and (max-width: $sm)
				display: none

		.close-editor-label-wrapper
			display: none
			position: absolute
			left: 0
			top: 50%
			transform: translateY(-50%)

			@media screen and (max-width: $lg)
				display: flex

			@media screen and (max-width: $sm)
				left: 10px

			.close-editor-label-container
				display: flex
				cursor: pointer
				justify-content: center
				align-items: center
				gap: 4px

				.back-icon
					width: 9px
					height: 9px

				.back-label
					font-size: 18px
					color: $text-secondary-color

		.note-save-indicator
			display: none
			animation: closeAnim 0.25s

			&.active
				display: flex
				animation: showAnim 0.25s

			@media screen and (max-width: $lg)
				order: 0

		.add-to-favorite-btn
			@media screen and (max-width: $lg)
				display: none

		.close-editor-btn
			order: 3

			@media screen and (max-width: $lg)
				display: none

		.icon
			width: 24px
			height: 24px
			transition: 0.3s
			filter: invert(75%)
			user-select: none

		.toggle-fullscreen-btn
			order: 1

			@media screen and (max-width: $lg)
				display: none

	.bottom-panel
		display: flex
		flex-direction: column
		gap: 10px
		height: 100%
		position: relative
		padding: 10px 10px 50px 30px
		animation: fadeIn 0.2s

		@media screen and (max-width: $lg)
			padding: 10px 10px 50px 0