@import "/public/src/utils/variables.sass"
@import "/public/src/utils/animations.sass"

.note-editor-wrapper
	border-radius: 15px
	background: rgba(27, 39, 53, 0.3)
	display: none
	flex-direction: column
	padding: 20px 20px 80px 20px
	gap: 15px
	width: 100%
	flex-basis: 100%
	overflow: hidden

	@media screen and (max-width: $lg)
		display: flex
		background: rgba(27, 39, 53, 1)
		position: fixed
		left: 100%
		height: 100vh
		padding: 75px 50px
		transition: 0.3s ease-in-out
		z-index: 1
		border-radius: 0

	@media screen and (max-width: $md)
		padding: 75px 25px

	@media screen and (max-width: $sm)
		padding: 75px 0

	&.active
		display: flex
		animation: fadeIn 1s

		@media screen and (max-width: $lg)
			animation: none
			left: 0

		.close-editor-btn
			display: block

	.top-panel
		display: flex
		justify-content: space-between

		@media screen and (max-width: $sm)
			padding: 0 20px

		.left-container
			.close-editor-label-container
				display: none
				align-items: center
				justify-content: center
				gap: 4px
				cursor: pointer

				@media screen and (max-width: $lg)
					display: flex

				.back-icon
					width: 9px
					height: 9px

				.back-label
					font-size: 18px
					color: $text-secondary-color

		.right-container
			display: flex
			align-items: center
			gap: 12px

			.note-save-indicator
				span
					color: $text-secondary-color
					transition: 0.3s

			.back-to-parent-note-btn-container
				padding: 8px
				border-radius: 8px
				cursor: pointer
				position: relative

				&:hover
					background: rgba(0, 0, 0, 0.15)

					&::before, &::after
						display: flex
						opacity: 1
						animation: showAnim 0.3s

				&::before, &::after
					text-transform: none
					font-size: .9em
					line-height: 1
					user-select: none
					pointer-events: none
					position: absolute
					display: none
					opacity: 0
					animation: closeAnim 0.3s

				&::before
					content: ''
					border: 5px solid transparent
					border-top-width: 0
					border-bottom-color: $tooltip-background
					z-index: 1001
					left: 0
					bottom: 0
					transform: translate(150%, 5px)

				&::after
					content: "Вернуться"
					text-align: center
					min-width: 3em
					max-width: 21em
					white-space: nowrap
					overflow: hidden
					text-overflow: ellipsis
					padding: 1ch 1.5ch
					border-radius: 8px
					box-shadow: $box-shadow-primary
					background: $tooltip-background
					color: $text-secondary-color
					z-index: 1000
					top: 100%
					left: 50%
					transform: translate(-50%, 5px)

				.back-to-parent-note-btn
					width: 24px
					height: 24px
					transition: 0.3s
					filter: invert(80%)
					cursor: pointer
					user-select: none

					&:hover
						opacity: 1

			.close-editor-btn-container
				padding: 8px
				border-radius: 8px
				cursor: pointer

				&:hover
					background: rgba(0,0,0,0.15)

				@media screen and (max-width: $lg)
					display: none

			.icon
				width: 24px
				height: 24px
				transition: 0.3s
				filter: invert(80%)

				&:hover
					opacity: 1

	.bottom-panel
		display: flex
		flex-direction: column
		gap: 10px
		height: 100%

		[contenteditable]
			outline: none