@import "/public/src/utils/variables.sass"

.otp-dialog-container
	display: flex
	flex-direction: column
	align-items: center
	margin-bottom: 25px
	gap: 10px
	height: 0
	overflow: hidden
	transition: 0.5s

	&.open
		height: 80px

	&.error
		.input-field
			input
				border: 1px solid $error-color
	span
		color: $text-main-color
		font-size: 18px

	.input-field
		display: flex
		gap: 10px

		input
			height: 40px
			width: 36px
			border-radius: 6px
			outline: none
			background: #e5e5e5
			border: none
			text-align: center
			font-size: 18px

			@media screen and (max-width: $md)
				height: 35px
				width: 32px

			&::-webkit-inner-spin-button, &::-webkit-outer-spin-button
				display: none
