@import "/public/src/utils/variables.sass"

.admin-page-wrapper
  display: flex
  align-items: center
  justify-content: space-around
  flex-direction: column
  color: $text-main-color
  padding-top: 100px
  .admin-page-selector
    display: flex
    flex-direction: row
    width: 100%
    justify-content: space-around

    //.admin-page-selector-btn
    //  width: 100%

    .admin-page-selector-btn-selected
      border-bottom: 3px solid $primary-color
