@import 'src/pages/main/main.css';
@import "src/pages/login/login.css";
@import "src/pages/register/register.css";
@import "src/pages/profile/profile.css";
@import "src/pages/notFound/not-found.css";
@import './src/components/header/header.css';
@import './src/components/notes/notes.css';
@import './src/components/note/note.css';
@import './src/components/note-editor/note-editor.css';
@import 'src/components/image/image.css';
@import './src/components/link/link.css';
@import './src/components/home/home.css';
@import './src/components/input/input.css';
@import "src/components/button/button.css";
@import "src/components/wrapper/wrapper.css";
@import "src/components/footer/footer.css";
@import "src/components/link-button/link-button.css";

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background: #D9D9D9;
}

html,
body {
    height: 100%;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#wrapper{
    flex: 1 0 auto;
    padding: 50px 0;
}