#note-editor {
    min-width: 500px;
    border-radius: 15px;
    background: #333437;
    display: none;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    position: relative;
    color: #f4f6f9;
}

#note-editor.active {
    display: flex;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1
    }
}

#note-editor h2 {
    font-size: 28px;
}

#note-editor span {
    font-size: 18px;
    color: #f4f6f9;
}

#note-editor .note-content {
    padding-right: 10px;
    overflow-y: auto;
    height: 100%;
}

#note-editor .note-content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

#note-editor .note-content::-webkit-scrollbar {
    width: 6px;
}

#note-editor .note-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background: #C0C9CB;
}

#note-editor .close-editor-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: none;
    transition: 0.3s;
    filter: invert(80%);
}

#note-editor .close-editor-btn:hover {
    transform: scale(1.1);
}

#note-editor.active  .close-editor-btn{
    display: block;
}