.note-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 15px;
    padding: 15px;
    width: 300px;
    cursor: pointer;
    transition: 0.5s;
}

.note-container:hover {
    transform: scale(1.1);
}