@import "/public/src/utils/variables.sass"

.note-container
	display: flex
	flex-direction: column
	gap: 10px
	background: rgba(27, 39, 53, 0.3)
	border-radius: 15px
	padding: 15px 60px 40px 15px
	width: 100%
	cursor: pointer
	transition: 0.5s
	position: relative

	*
		pointer-events: none

	&:hover
		background: rgba(27, 39, 53, 0.8)

	.note-tags-container
		display: flex
		gap: 5px
		.note-tag
			display: flex
			justify-content: center
			align-items: center
			gap: 5px
			padding: 4px 8px
			background: #2b3b55
			border-radius: 12px
			color: $text-main-color
			z-index: 1

	h3
		color: $text-main-color

	p
		color: $text-secondary-color

	@media screen and (min-width: $lg)
		&.selected
			box-shadow: $box-shadow-secondary

	.update-time
		position: absolute
		right: 15px
		bottom: 10px
		color: $text-secondary-color
