.note-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #333437;
    border-radius: 15px;
    padding: 15px 15px 40px 15px;
    width: 100%;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
}

.note-container:hover {
    transform: scale(1.05);
}


.note-container h3 {
    color: #f4f6f9;
}

.note-container p {
    color: #f4f6f9;
}

.note-container.selected {
    box-shadow: 0 0 5px #007FFF,
                0 0 15px #007FFF;
}

.note-container .update-time {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #f4f6f9;
}