.note-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #fff;
    border-radius: 15px;
    padding: 15px 15px 40px 15px;
    width: 100%;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
}

.note-container:hover {
    transform: scale(1.05);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.note-container p {
    color: #575757;
}

.note-container.selected {
    background: #e9f3ff;
}

.note-container .update-time {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #787878;
}