.empty-note-wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
    background: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 15px;
    padding: 15px;
    width: 300px;
}