@import "/public/src/utils/variables.sass"

.shared-note-page
	width: 100%
	display: flex
	justify-content: center
	align-items: center
	padding: 100px 10% 50px
	height: 100vh

	@media screen and (max-width: $xl)
		padding: 100px 10%

	@media screen and (max-width: $lg)
		padding: 100px 5%

	@media screen and (max-width: $sm)
		padding: 75px 5%

	&.fullscreen
		padding: 0