@import "/public/src/utils/variables.sass"

.collaborators-list-wrapper
	display: flex
	gap: 10px

	.collaborator

		.collaborator-username
			color: $text-main-color

		img
			width: 48px
			height: 48px
			border-radius: 50%