@import "/public/src/utils/animations.sass"
@import "/public/src/utils/variables.sass"

.questions-wrapper
	width: 100%
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	animation: fadeIn 0.5s

