@import "/public/src/utils/variables.sass"

.csat-page-wrapper
	width: 100%
	display: flex
	justify-content: center
	padding: 100px

	.csat-statictic
		width: 80vw
		min-height: 500px
		background: $modal-background
		border-radius: 25px
		display: flex
		justify-content: center
		align-items: center