<div class="centered-widget" id="login-page">
     <div class="login-window">
         <h1 class="login-title">Страница входа</h1>
         <div class="username-input-place"></div>
         <div class="password-input-place"></div>
         <a href="/register">Уже зарегистрированы?</a>
         <div class="submit-btn-place"></div>
     </div>
</div>