@import "/public/src/utils/variables.sass"
@import "/public/src/utils/mixins.sass"

.drag-area
	width: 100%
	height: 4px

.note-editor
	overflow-y: auto
	height: 100%
	font-size: 18px
	color: $text-main-color
	display: flex
	flex-direction: column
	gap: 10px
	padding-right: 15px
	position: relative

	@include scrollbar

	.note-editor__body
		display: flex
		flex-direction: column
		position: relative

		.note-title
			width: 100%
			padding-left: 30px
			font-size: 28px
			color: $text-main-color
			font-weight: bold
			margin-bottom: 5px

			&:before
				content: attr(data-placeholder)
				color: $text-main-color--darker

				cursor: text

		.placeholder
			color: $text-main-color--darker
			position: absolute
			top: 0
			left: 30px
			font-size: 28px
			font-weight: bold

		.drag-area
			height: 5px

			&.active
				background: blue