@import "/public/src/utils/variables.sass"
@import "/public/src/utils/mixins.sass"

[contenteditable]
	outline: none
	color: white

[data-selected='true']::marker
	content: '☑ '

[data-selected='false']::marker
	content: '☐ '

[data-selected='true']
	text-decoration: line-through

[data-selected='false']
	text-decoration: none

.note-editor
	overflow-y: auto
	height: 100%
	font-size: 18px
	color: $text-main-color
	display: flex
	flex-direction: column
	gap: 10px
	position: relative
	padding-right: 20px

	@include scrollbar

	.buttons-container
		display: flex

	.note-title
		width: 100%
		font-size: 28px
		color: $text-main-color
		font-weight: bold
		margin-bottom: 5px

		&:before
			content: attr(data-placeholder)
			color: $text-secondary-color
			cursor: text

	.note-body

		.subnote-wrapper
			display: flex
			background: $modal-background
			padding: 8px 16px
			border-radius: 16px
			align-items: center
			gap: 10px
			transition: 0.2s ease
			border: 1px solid #2b3b55
			margin: 2px

			&:hover
				cursor: pointer
				box-shadow: 0 0 2px $primary-color, 0 0 6px $primary-color

			span
				transition: 0.5s
				user-select: none

			img
				width: 16px
				height: 24px
				filter: invert(80%)

		.attach-wrapper
			display: flex
			justify-content: flex-start
			outline: none
			border: none
			background: transparent
			padding: 0

			.attach-container
				background: $modal-background
				padding: 8px 64px 8px 16px
				border-radius: 16px
				display: flex
				align-items: center
				gap: 10px
				text-decoration: none
				position: relative
				cursor: pointer
				transition: 0.2s ease

				&:hover
					opacity: 0.9

				.file-extension-label
					background: #546189
					color: #fff
					border-radius: 8px
					height: 40px
					padding: 4px
					display: flex
					justify-content: center
					align-items: center

				.file-name
					color: $text-main-color

				.close-attach-btn-container
					background: #546189
					padding: 8px
					border-radius: 50%
					position: absolute
					right: 15px

					.close-attach-btn
						filter: invert(80%)
						width: 20px
						height: 20px

		.placeholder
			color: $text-secondary-color
			position: absolute
			top: 0
			left: 30px
			font-size: 28px
			font-weight: bold