<div class="home" id="{{id}}">

	<section class="first">
		<h1>Попробуйте наши заметки!</h1>
	</section>

	<section class="second">
		<h3>Ля-ля-ля</h3>
	</section>

	<section class="third">
		<h3>Ня-ня-ня</h3>
	</section>

</div>